{% extends 'partials/register_login_base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Login</h2> 
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if error %} 
                <p>{{ error }}</p> 
            {% endif %} 
            {% load crispy_forms_tags %}
            <form method="post"> 
                {% csrf_token %} 
                <label for="username" class="form-label">Username:</label> 
                <input type="text" class="form-control" name="username" required> 
                <br> <label for="password">Password:</label> 
                <input type="password" class="form-control" name="password" required> <br><br> 
                <button type="submit" class="btn btn-primary">Login</button> 
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    